.filterWrapper {
  position: absolute;
  top: 60px;
  left: 0;
  width: 270px;
  padding: 20px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  z-index: 50;
  border: 1px solid rgba(33, 63, 125, 0.06);
}

form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

label {
  display: flex;
  flex-direction: column;
  color: #545f7d;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;

  input,
  select {
    margin-top: 6px;
    height: 40px;
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid rgba(33, 63, 125, 0.2);
    outline: none;
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    
  
    color: rgba(84, 95, 125, 0.5); 

    &:focus {
      border-color: #39cdcc;
    }
  }

  input::placeholder {
    color: rgba(84, 95, 125, 0.5);
  }
  
  input:not([type="date"]) {
    color: #545F7D;
  }


  .dateInputContainer {
    position: relative;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      padding-right: 40px;
      
  
      &[type="date"]:not(:placeholder-shown), &:valid {
        color: #545F7D;
      }

      &::-webkit-calendar-picker-indicator {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
      }
    }

    .calendarIcon {
      position: absolute;
      right: 12px;
      width: 16px;
      height: 16px;
      pointer-events: none;
    }
  }

  select {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    padding-right: 35px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%23213F7D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 14px;

    &.filled {
      color: #545F7D; 
    }

    option {
      color: #545F7D;
      background: #fff;
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  button {
    width: 48%;
    height: 40px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
  }
}

.reset {
  background: #ffffff;
  border: 1px solid #545f7d;
  color: #545f7d;

  &:hover {
    background: #545f7d;
    color: #ffffff;
  }
}

.filter {
  background: #39cdcc;
  border: none;
  color: #ffffff;

  &:hover {
    background: #2db8b8;
  }
}